doctype html
html
  head
    title= title
    link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/cyborg/bootstrap.min.css", rel="stylesheet", integrity="sha384-5KpNAytmiDxBanrkBv7mxkrUV1uggYCd+nLTGVig8i0ubJLVBFWQKXnGK5nR4kJF", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
        a.navbar-brand(href='#') Parent Involvement
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarColor01.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='/')
                | Home 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/tasklist') Task List
            li.nav-item
              a.nav-link(href='/addtask') Add Task
            // li.nav-item
              a.nav-link(href='#') About


    block content
